caterogriesPage {
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .productCard {
        background-color: white;
        transition: ease all 400ms;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }

        p {
            font-size: 1.5rem;
        }

        &:hover {
            background-color: var(--mainYellow);
        }

     
    }
}